.homebg { background-color:#212529; background-size:cover;}

.aboutme {background-image: url(../images/img/lake.jpg); background-size: cover;}

.col-md-10col-lg-8col-xl-7 { color:beige;}

.contactme {background-image: url(../images/img/lake.jpg); background-size: cover;}

.video {text-align: center;}

.myweb{font-family:Verdana, Geneva, Tahoma, sans-serif;}